<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style1.css" />
    <title>Thông tin cá nhân</title>

</head>
<body style=" background-color: rgba(243,240,240,0.73) " >
<h3 style="margin-top: 15px; color: orangered;text-align: center">ADD USER</h3>
<div style="float: left; width: 350px;margin-top: 20px">
    <div style="text-align: center;">
        <img src="/img/addUser.jpg" style=" width: 300px; height: 400px;  border-radius: 20px; margin-top: 20px;">
    </div>
</div>

<form style=" float: left; margin-top: 40px" action="/addUsers" method="post">
    <div class="inputDivUser">
        Họ và tên : <input name="name"  placeholder="Name" class="inputUser"></div>

    <div class="inputDivUser"> User name : <input name="username"  placeholder="user name" class="inputUser"></div>

    <div class="inputDivUser"> Age : <input name="age" placeholder="Age" class="inputUser"></div>

    <div class="inputDivUser"> Number Phone :<input name="phone" placeholder="Number Phone" class="inputUser"></div>

    <div class="inputDivUser"> Address : <input name="address" placeholder="Address" class="inputUser"></div>

    <div class="inputDivUser"> Hobies : <input name="hobbies" placeholder="Hobies" class="inputUser"></div>

    <div class="inputDivUser"> Pet : <input name="pet" placeholder="Pet" class="inputUser"></div>

    <button type="submit" style="background: linear-gradient(262deg, #ff7854, #fd267d);margin-top: 35px; color: whitesmoke;margin-left: 188px; width: 130px;height: 40px; border-radius: 20px; border: 1px solid #c2c2c2c2 ">Add User</button>

</form>

</body>
</html>