<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tinder | Hẹn hò, kết bạn và gặp gỡ người mới</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/ionicons.min.css">
    <link rel="stylesheet" href="css/Footer-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body id="page-top">
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
    <div class="container"><img class="pulse animated infinite" src="img/logo.png" style="width: 90px;height: 50px;"><a class="navbar-brand js-scroll-trigger" data-bss-hover-animate="rubberBand" href="#page-top">Tinder</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"></li>
                <li class="nav-item mx-0 mx-lg-1"><button class="btn btn-primary" data-bss-hover-animate="pulse" type="button" style="background: rgb(44,62,80);border-width: 0;">Tiếng Việt</button></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="btn btn-primary" role="button" data-bss-hover-animate="pulse" style="border-radius: 10px;height: 40px;border-width: 0px;opacity: 1;background: url(&quot;img/butom.png&quot;);" href="signin.handlebars
">Đăng Nhập</a></li>
            </ul>
        </div>
    </div>
</nav>
<header style="margin-top: 0;">
    <h1 style="position: absolute;top: 30%;left: 30%;font-size: 100px;color: #fc6c6c;font-family: 'Abril Fatface', cursive;"><br><strong>SWIPE RIGHT</strong><br><br></h1><img src="img/tinderr.png" style="width: 1518px;"><a class="btn btn-primary" role="button" data-bss-hover-animate="pulse" style="background-image: url(img/butom.png);position: absolute;top: 65%;left: 45%;font-size: 16px;width: 250px;height: 50px;border-radius: 30px;border-width: 0px;" href="signup.handlebars">LẬP TÀI KHOẢN</a>
</header>
<section id="portfolio" class="portfolio" style="height: 200px;padding: 40px;">
    <div class="container">
        <h2 class="text-uppercase text-center text-secondary">Tinder</h2>
        <hr class="star-dark mb-5">
    </div>
</section>
<div class="container">
    <div class="row" style="margin-right: 15px;margin-left: 15px;">
        <div class="col-md-4">
            <div style="box-shadow: 2px 2px 12px 0px rgb(205 196 196);border: 1px solid #c2c2c2;border-radius: 5px;padding: 5px;height: 270px;"><a href="#" style="padding: 10px;color: rgb(0,0,0);font-family: 'Abril Fatface', cursive;">Shannon Escobar<br></a>
                <hr><small class="form-text text-muted" style="padding: 5px;">Tôi gặp được vợ chưa cưới của mình trên Tinder trong thời gian cách ly vì COVID. Cô ấy đến từ Lafayette, Indiana còn tôi từ Cleveland, Ohio. Chúng tôi đều là tín đồ Cơ đốc giáo và đã rơi vào lưới tình không thể nào gỡ ra được.<br></small>
            </div>
        </div>
        <div class="col-md-4" style="box-shadow: 2px 2px 12px 0px rgb(205 196 196);border: 1px solid #c2c2c2;border-radius: 5px;">
            <div style="padding: 5px;height: 270px;"><a href="#" style="padding: 10px;font-family: 'Abril Fatface', cursive;color: rgb(0,0,0);">Keneth &amp; Lawtor<br></a>
                <hr><small class="form-text text-muted">CÁM ƠN CÁC BẠN vì đã tạo điều kiện để tôi có thể gặp được tri kỷ của đời mình. Năm phút sau khi bắt đầu cuộc trò chuyện đầu tiên của chúng tôi, nàng, người hiện tại là bà xã của tôi đã nói về chuyện chúng tôi sẽ có một đám cưới tuyệt vời đến nhường nào.<br></small>
            </div>
        </div>
        <div class="col-md-4">
            <div style="box-shadow: 2px 2px 12px 0px rgb(205 196 196);border: 1px solid #c2c2c2;border-radius: 5px;padding: 5px;height: 270px;"><a href="#" style="color: rgb(0,0,0);font-family: 'Abril Fatface', cursive;padding: 10px;">Lauren Deramenter<br></a>
                <hr><small class="form-text text-muted" style="padding: 5px;">Tôi cũng đã rất quả quyết về người đàn ông tiếp theo mà tôi ở bên và giao phó đời mình, sẽ là người đàn ông tôi dành trọn phần đời còn lại của mình với họ (chỉ là không kết hôn). Tôi đã rất kén chọn và không mong đợi gặp gỡ một người đàn ông trên Tinder. Dẫu sao thì tôi cũng quyết định đăng ký và cứ tương hợp rồi xem sao.<br></small>
            </div>
        </div>
    </div>
</div>
<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>AN TOÀN</h3>
                    <ul>
                        <li><a href="#">Quy tắc cộng đồng</a></li>
                        <li><a href="#">Một vài lời khuyên an toàn</a></li>
                        <li><a href="#">An toàn và chính sách</a></li>
                        <li><a href="#">Bảo mật</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>PHÁP LÝ</h3>
                    <ul>
                        <li><a href="#">Quyền Riêng tư</a></li>
                        <li><a href="#">Điều khoản</a></li>
                        <li><a href="#">An toàn và chính sách</a></li>
                        <li><a href="#">Sở hữu chí tuệ</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>NGHỀ NGHIỆP</h3>
                    <ul>
                        <li><a href="#">Cổng thông tin nghề nghiệp</a></li>
                        <li><a href="#">Blog Công Nghệ</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social">
                    <h3>MẠNG XÃ HỘI</h3><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-youtube"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="container">
            <hr>
        </div>
        <div>
            <h1 style="width: 600px;margin-left: 250px;">TẢI ỨNG DỤNG NGAY<img style="float: right;width: 60px;height: 50px;border-radius: 30px;" src="img/Apple.png"><img style="float: right;width: 60px;height: 50px;border-radius: 30px;margin-right: 20px;" src="img/CHPLAY.png"></h1>
            <div class="container">
                <div>
                    <p>&nbsp; &nbsp;Các bằng hữu độc thân vui vẻ, xin có mấy lời gửi tới các bạn: Nếu bạn đang tìm kiếm người yêu, muốn bắt đầu hẹn hò, hay chỉ đơn giản là muốn có thêm bạn bè, bạn cần có mặt trên Tinder. Với hơn 55 tỉ lượt tương hợp được kết nối, Tinder chính là nơi để gặp gỡ bạn tương hợp tốt nhất tiếp theo của bạn. Chân thành mà nói, môi trường hẹn hò ngày nay không còn giống như thời các cụ ngày xưa, giờ đây hầu hết mọi người đang gặp gỡ qua mạng xã hội. Với Tinder, ứng dụng hẹn hò miễn phí phổ biến nhất trên thế giới, hàng triệu người độc thân tuyệt vời khác luôn nằm trong tầm tay bạn. Không những thế họ luôn sẵn sàng gặp gỡ những người mới như bạn. Dù bạn "thẳng" hay thuộc cộng đồng LGBTQIA, Tinder luôn sát cánh nhen nhóm những cơ hội gặp gỡ cho bạn.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Sẽ luôn có thứ gì đó phù hợp cho mọi người trên Tinder. Bạn muốn thử tay nghề tán gái? Sẽ là như vậy. Bạn đang cố tìm thêm bạn bè? Khỏi cần nói gì thêm. Bạn mới tới ký túc xá và muốn tận dụng tối đa quãng thời gian học đại học của mình? Tinder U sẽ giúp bạn. Tinder không phải là trang hẹn hò thường thường bậc trung cho bạn — đó là ứng dụng hẹn hò đa dạng nhất, nơi những con người trưởng thành thuộc mọi tầng lớp xã hội với những trải nghiệm phong phú khác nhau được khuyến khích tạo dựng các kết nối, những kỷ niệm hay cái gì đó tương tự.<br><br></p>
                </div>
                <hr>
                <p>Một vài lời khuyên / Điều khoản / Chính sách cookie / Cài đặt riêng tư&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; © 2021 Match Group, LLC, mọi quyền đã được bảo lưu.<br></p>
            </div>
        </div>
    </footer>
</div>
<script src="js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="js/freelancer.js"></script>
</body>

</html>